* {
  font-family: "Segoe UI";
  font-weight: 200;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: rgb(19, 18, 18);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
h1 {
  text-align: center;
  margin-top: 40vh;
  color: #fff;
}
div {
  display: flex;
  justify-content: center;
}
button {
  padding: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  font-size: 1em;
}
button:hover {
  background: rgb(45, 50, 102);
  color: rgb(255, 255, 255);
}
@media (max-width: 640px) {
  h1 {
    font-size: 1.6em;
  }
  button {
    margin-top: 5%;
  }
}
