* {
  font-family: "Segoe UI";
  font-weight: 200;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: rgb(29, 29, 29);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  color: #fff;
  text-align: center;
}

button {
  padding: 8px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 3px;
  margin-top: 1%;
  font-size: 1em;
  outline: none;
}
button:hover {
  background: rgb(45, 50, 102);
  color: rgb(255, 255, 255);
}
